<h1>Hello <%= current_user_name %></h1>
<h4>Here are the items you've listed:</h4>

<% if @user_items != nil %>
  <ul>
    <% @user_items.each do |item| %>
    <li><%= item.title %></li>
    <% end %>
  </ul>
<% else %>
  <h4>You haven't posted any items yet.</h4>
<% end %>

<h1 class="center block mar-b-2">List an item</h1>
<form class="center block" method="post" action="/item" >
  <label class="block center" for="title">Title:</label>
  <input class="c-dk-blue" type="text" name="title" placeholder="Title..." size="35">
  <label class="block center" for="condition">Condition:</label>
  <input class="c-dk-blue" type="text" name="condition" placeholder="Condition..." size="35"><br>
  <label class="block center" for="description">Description:</label>
  <input class="c-dk-blue" type="text" name="description" placeholder="Description..." size="35"><br>
  <br>
  <input class="c-dk-blue block left" type="submit" value="submit">
</form>
